:root {
  /* --max-word-container-height property will be set dynamically with JS */
  --max-word-container-width: 200px;
  --white-color: #fff;
  --soft-cream: #fff5e1; /* Alternative Light Background */
  --warm-gray: #8c8377; /* Neutral Gray for Balance */
  --rich-brown: #5c4033; /* Earthy Accent (For Depth) */
  --dark-red: #8b0000; /* Dark Red */
  --dark-red-deep: #600000; /* Deeper Red for Borders & Shadows */
  --black-color: #000; /* Black */
  --beige-color: #ffcc00; /* Gold (German flag gold) */
  --muted-gold: #d4af37; /* Softer Gold for Highlights */
  --margin-xs: 10px;
  --margin-s: 20px;
  --margin-m: 30px;
  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --border-radius-s: 10px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 40px;
  --font-size-3xl: 48px;
  --font-size-4xl: 64px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
}

* {
  font-family: "Germania One", system-ui;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--beige-color);
  color: var(--black-color);
}

.main {
  padding: 20px;
  height: 100%;
  background-color: var(--beige-color);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-3xl);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-m);
}

.chain-length-wrapper {
  margin-bottom: var(--margin-m);
}

.game {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--max-word-container-width), 1fr)
  );
  column-gap: var(--margin-s);
  row-gap: var(--margin-s);
  margin-top: var(--margin-m);
}

.game--hidden {
  content-visibility: hidden;
}

.chain-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-m);
}

.chain-input-label {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-l);
}

.chain-input {
  box-sizing: border-box;
  min-height: 50px;
  margin-bottom: var(--margin-s);
  padding: 0 var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  font-size: var(--font-size-l);
}

.chain-preview-wrapper {
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: var(--margin-m);
}

.chain-preview-wrapper--visible {
  display: flex;
  row-gap: var(--margin-m);
}

.chain-preview-wrapper--hidden {
  display: none;
}

.word-preview {
  display: flex;
  gap: var(--margin-xs);
  align-items: center;
  margin-right: var(--margin-xs);
  padding: var(--padding-xs);
  border-radius: var(--border-radius-s);
  border: solid;
  border-color: var(--dark-red);
  font-size: var(--font-size-l);
  word-break: break-all;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-l);
  text-align: center;
  padding: var(--padding-s);
  border-radius: var(--border-radius-s);
  color: var(--white-color);
  cursor: pointer;
  transition: transform 0.6s;
  word-break: break-all;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.word-container--not-chained {
  background-color: var(--dark-red);
}

.word-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.rotate-word-container {
  animation: rotate-word-container 0.3s ease-in-out;
}

.word-container--chained {
  background-color: var(--muted-gold);
}

@keyframes rotate-word-container {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.set-length-button {
  flex: 6;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--border-radius-s);
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.set-length-button:hover,
.set-length-button:focus {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.set-order-important {
  display: flex;
  padding: 0;
  gap: var(--margin-s);
  border: none;
  justify-content: center;
  align-items: stretch;
}

.set-word-order-button {
  flex: 1;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--border-radius-s);
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.set-word-order-button[aria-checked="true"] {
  box-shadow: 0 0 5px var(--dark-red-deep);
  border: solid;
  border-color: var(--rich-brown);
}

.labels-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--margin-s);
}

.word-order-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-m);
}

.word-order-fieldset {
  display: flex;
  flex-direction: column;
}

.word-order-label {
  display: block;
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-l);
}

.add-chain-button {
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.add-chain-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.play-reset-wrapper {
  display: flex;
  gap: var(--margin-s);
}

.play-button {
  flex: 1;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  font-size: var(--font-size-l);
}

.reset-button {
  flex: 1;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  font-size: var(--font-size-l);
}

.reset-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.play-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.play-button:disabled,
.set-length-button:disabled,
.reset-button:disabled,
.add-chain-button:disabled,
.set-word-order-button:disabled {
  background-color: var(--warm-gray);
  cursor: not-allowed;
}

.chain-length-label {
  display: block;
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-l);
}

.chain-length-input {
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  padding: var(--padding-xs);
  border-radius: var(--border-radius-s);
  border: none;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-l);
  appearance: textfield;
}

.chain-length-input::-webkit-inner-spin-button,
.chain-length-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chain-length-input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.chain-length-input-wrapper {
  display: flex;
  gap: var(--margin-m);
  justify-content: center;
  align-items: stretch;
}

.word-preview:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.cross-icon {
  cursor: pointer;
}

.game-score-wrapper {
  display: flex;
  justify-content: center;
  margin: var(--margin-m) 0;
  gap: var(--margin-s);
}

.game-score-wrapper--hidden {
  visibility: hidden;
}

.game-score {
  font-size: var(--font-size-2xl);
}

.game-score-label {
  font-size: var(--font-size-2xl);
}

@media (max-width: 375px) {
  :root {
    --max-word-container-width: 100px;
  }
}
