:root {
  --white-color: #fff;
  --soft-cream: #fff5e1; /* Alternative Light Background */
  --warm-gray: #8c8377; /* Neutral Gray for Balance */
  --rich-brown: #5c4033; /* Earthy Accent (For Depth) */
  --dark-red: #8b0000; /* Dark Red */
  --dark-red-deep: #600000; /* Deeper Red for Borders & Shadows */
  --black-color: #000; /* Black */
  --beige-color: #ffcc00; /* Gold (German flag gold) */
  --muted-gold: #d4af37; /* Softer Gold for Highlights */
  --margin-xs: 10px;
  --margin-s: 20px;
  --margin-m: 30px;
  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --border-radius-s: 10px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 40px;
  --font-size-3xl: 48px;
  --font-size-4xl: 64px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;
}

* {
  font-family: "Germania One", system-ui;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--beige-color);
  color: var(--black-color);
}

#main {
  padding: 20px;
  height: 100%;
  background-color: var(--beige-color);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

#header {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-2xl);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-m);
}

.section-chain-length {
  margin-bottom: var(--margin-m);
}

#game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: var(--margin-m);
}

.chain-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-m);
}

.chain-input-label {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-l);
}

#chain-input {
  box-sizing: border-box;
  min-height: 50px;
  margin-bottom: var(--margin-s);
  padding: 0 var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  font-size: var(--font-size-l);
}

.chain-preview-wrapper {
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: var(--margin-m);
}

.chain-preview-wrapper--visible {
  display: flex;
}

.chain-preview-wrapper--hidden {
  display: none;
}

.word-preview {
  margin-right: var(--margin-xs);
  padding: var(--padding-xs);
  border-radius: var(--border-radius-s);
  border: solid;
  border-color: var(--dark-red);
  font-size: var(--font-size-l);
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-l);
  text-align: center;
  padding: var(--padding-s);
  border-radius: var(--border-radius-s);
  background-color: var(--dark-red);
  color: var(--white-color);
  cursor: pointer;
  transition: transform 0.6s;
  font-size: var(--font-size-l);
}

.word-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.word-container--opened {
  animation: open-word-container 0.6s;
}

.word-container--closed {
  animation: close-word-container 0.6s;
}

@keyframes open-word-container {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes close-word-container {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

#set-length-button {
  flex: 6;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border: none;
  border-radius: var(--border-radius-s);
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

#set-length-button:hover,
#set-length-button:focus {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

#set-length-button:disabled {
  background-color: var(--warm-gray);
  cursor: not-allowed;
}

#add-chain-button {
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

#add-chain-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

#add-chain-button:disabled {
  background-color: var(--warm-gray);
  cursor: not-allowed;
}

.play-reset-wrapper {
  display: flex;
  gap: var(--margin-s);
}

#play-button {
  flex: 1;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  font-size: var(--font-size-l);
}

#reset-button {
  flex: 1;
  background-color: var(--dark-red);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  font-size: var(--font-size-l);
}

#reset-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

#reset-button:disabled {
  background-color: var(--warm-gray);
  cursor: not-allowed;
}

#play-button:hover {
  box-shadow: 0 0 5px var(--dark-red-deep);
}

#play-button:disabled {
  background-color: var(--warm-gray);
  cursor: not-allowed;
}

.chain-length-label {
  display: block;
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-l);
}

#chain-length-input {
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  padding: var(--padding-xs);
  border-radius: var(--border-radius-s);
  border: none;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-l);
  appearance: textfield;
}

#chain-length-input::-webkit-inner-spin-button,
#chain-length-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chain-length-input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--dark-red-deep);
}

.chain-length-container {
  min-height: 50px;
  display: flex;
  gap: var(--margin-m);
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 375px) {
}
